<section>

  <div class="container" style="margin-top: 40px; text-align: center;">
    <h2> PLATAFORMA DE CARACTERIZACION NAT.IO</h2>
    <p>Analice el riesgo de falla en sus equipos y tome decisiones rapidamente</p>
  </div>

  <div class="container text-center" style="margin-top: 100px; margin-bottom: 50px;">

    <div class="row">
      <div class="col">

        <div class="card-body ">
          <img src="assets/ojo.png" >
          <h5 class="card-title" style="margin-top: 2.98%;">NAT-VISION</h5>
          <p class="card-text">Entiende el mundo.</p>
          <a href="pag1" class="btn btn-dark" style="width: 80px;">Ir</a>

        </div>

      </div>
      <div class="col">
        <div class="card-body">
          <img src="assets/sound.png" >
          <h5 class="card-title">NAT-SOUND</h5>
          <p class="card-text">Escucha el mundo.</p>
          <a href="pag2"  class="btn btn-dark" style="width:80px;">Ir</a>

        </div>
      </div>


    </div>
    <div class="container text-center" style="margin-top: 150px;">
      <div class="row">
        <div class="col">
          <div class="card-body">
            <img src="assets/history.png" >
            <h5 class="card-title">Historico</h5>
            <p class="card-text">Eventos registrados.</p>
            <a href="#" class="btn btn-dark" style= " width: 80px; text-align: center;">Ir</a>

          </div>
        </div>

        <div class="col">

          <div class="card-body">
            <img src="assets/map.png" >
            <h5 class="card-title">Ubicacion</h5>
            <p class="card-text">Donde estas?.</p>
            <a href="#" class="btn btn-dark" style="width:80px;">Ir</a>

          </div>
        </div>

      </div>
    </div>

  </div>
</section>
<div class="container">

  <body>

  </body>


</div>
