

    <div>
      <div class="container text-center" style="margin-top: 100px; margin-bottom: 50px;">




            <div style="margin-top: 10px;" class="camera-container">
              <video video autoplay playsinline class="video-preview"></video>
              <button class="btn btn-dark" style="margin-bottom: 20px; " (click)="startCamera()">Iniciar Cámara</button>
              <button class="btn btn-dark" >Enviar</button>
              <canvas canvas class="photo-canvas"></canvas>
            </div>





        </div>

        </div>



    <div class="container">

      <body>

      </body>


    </div>




